.nav-sec{
    padding: 35px;
}
.nav-sec .logo{
    padding-left: 40px;
    padding-right: 220px;
}

.sort button{
    
    background-color: rgb(187, 183, 183);
    color: white;
    border-radius: 5px;
    border: none;
    padding: 10px;
    padding-left: 35px;
    padding-right: 35px;
 }
 .sort button:hover{
    cursor: pointer;
    background-color: red;
 }
.blog{
    border-radius: 5px;
    border: none;
 }
.nav2-container button:hover{
    cursor: pointer;
    background-color: red;
}
.navbar-nav{
    
    width: 1400px;
}


/* 
buttons
*/

.buttons button{
    border-radius: 10px;
    text-align: center ;
    background-color: rgb(212, 204, 204);
    /* gap: 20px !important; */
}

.special{
    background-color: red;
}

/* cards */

#cards-container{
    
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    padding-left: 40px;
    
    }
.box{
    width: 300px;
    height: 450px; 
    padding-right: 20px;
}
.box-img{
    width: 300px;
    height: 200px;
    border-radius: 5px ;
    
}
.pro-img{
    width: 50px;
    height: 50px;
    border-radius: 50%;
}
.icon-img{
    width: 300px;
    /* padding: 50px;
    justify-content: center;
    align-content: center; */

}
.profile-description{
    padding: 10px;
    display: flex;
    flex: wrap;
}
.thumbnail-img{
    width: 300px;
    height: 200px;
}
.upload-time{
    padding-left: 95px;
    width: 280px;
    color: rgb(160, 153, 153);
    margin-top: -50px;
    font-size: 10px;
    background: rgb(32, 31, 31);
}
/* verified icon */
.icon{
    width: 20px;
    height: 20px;
}


/* blog page */

.blog-container{
    height: 500px;
    background-image: url('./OIP.jpeg');
    background-size: cover;
    background-repeat: no-repeat;
    
}
.ques-ans{
    width: 500px;
    margin: auto;
    padding-top: 50px;
}

.collapsebtn {
    padding-left: 700px !important;
}
@media (max-width:500px){
    .ques-ans{
        width: 200px;
    }
    .blog-container{
         height: 740px;
    }
    .collapsebtn{
        padding-left: 0px;
    }
    

}
